body {
  font: 50px "Century Gothic", Futura, sans-serif;
  align-items: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  align-items: center;
}

.status {
  margin-bottom: 10px;

}

.square {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.BoardDesign{
  margin-left: 38%;
  margin-top: 15%;
  align-items: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
